/* General Responsive Design */
@media (max-width: 1024px) {
  .hero-title {
    font-size: 68px;}
  
  .signature {
    font-size: 38px;}
  
  .subtitle {
    font-size: 26px;}}
  
@media (max-width: 768px) {
  .hero-title {
    font-size: 56px;}
  
  .signature {
    font-size: 34px;}
  
  .subtitle {
    font-size: 14px;}
  
  .buttons {
    gap: 20px;}
  
  .buttons a img {
    width: 70;}
  
  .footer-links {
  gap: 20px;}

  .nav-links li:not(:last-child) {
  display: none;}
    
  .navbar {
  justify-content: space-between;
  padding: 0 1rem;
  height: 70px;}
    
  .nav-logo {
  display: block;
  margin-left: 1rem;}

  .nav-content {
  justify-content: flex-end; /* keeps toggle on the right */}

  .menu-icon {
  display: block;}}
  
@media (max-width: 480px) {
  .hero-title {
    font-size: 38px;}
  
  .signature {
    font-size: 30px;}
  
  .subtitle {
    font-size: 18px;}
  
  .buttons a img {
    width: 80px;}
  
  .footer-links a {
    font-size: 24px;}
  
  .menu-icon {
    position: absolute;
    top: 22px;
    right: 30px;
    font-size: 26px;
    color: black;
    cursor: pointer;}}

/* About Page */
@media (max-width: 1024px) {
  .skills-section {
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    gap: 40px;}

  .skills-column {
    max-width: 100%;
    width: 100%;}

  .progress-bar {
    width: 100%;
    max-width: 100%;}

  .info-cards {
    padding: 0 40px;
    gap: 24px;}

  .work-experience {
    padding: 0 40px;}}

@media (max-width: 768px) {
  .skills-section {
    gap: 30px;
    padding: 0 20px;}

  .skills-column {
    width: 100%;}

  .info-cards {
    grid-template-columns: 1fr;
    padding: 0 20px;}

  .work-experience {
    padding: 0 20px;}

  .exp-toggle {
    font-size: 1rem;
    padding: 15px;}

  .card-front,
  .card-back {
    font-size: 1rem;
    padding: 16px;}}

@media (max-width: 480px) {
  .skills-category h2 {
    font-size: 1.5rem;}

  .exp-content {
    font-size: 0.95rem;}

  .work-experience {
    margin: 30px auto;}}

/* Contact Page */
@media (max-width: 600px) {
  .contact-form {
    padding: 0;
    max-width: 100%;}

  .form-group input,
  .form-group textarea {
    width: 100%;}}

/* Index Page */
@media (max-width: 600px) {
  .icon-buttons {
    justify-content: center;
    gap: 20px; }
    
  .icon-button {
    width: 45%;
    text-align: center;}
    
  .icon-button img {
    width: 80px;
    height: auto;}}